
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #0052CCaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #0052CCaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
  background-color: #1C2B41;
  border: 1px solid #2C3E50;
  border-radius: 0.25rem;
}

.read-the-docs {
  color: #c6c6c6;
}

form {
  margin: 20px;
  padding: 10px;
  border: 1px solid #2C3E50;
  border-radius: 0.25rem;
  background-color: #1C2B41;
}

input {
  display: block;
  margin: 10px 0;
  padding: 8px;
  width: 100%;
  box-sizing: border-box;
  background-color: #0E1624;
  border: 1px solid #2C3E50;
  color: #f4f4f4;
  border-radius: 0.25rem;
}

button {
  padding: 10px 15px;
  background-color: #0052CC;
  color: white;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
}

button:hover {
  background-color: #0747A6;
}

#profile-photo-input {
  margin: 20px;
  padding: 10px;
  border: 1px solid #2C3E50;
  border-radius: 0.25rem;
  background-color: #1C2B41;
}

#profile-photo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 20px;
  object-fit: cover;
  border: 2px solid #2C3E50;
}
